<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <title>
            HNN
        </title>
        <!-- <base href="/textbook/"> -->
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link href="styles.css" rel="stylesheet"/>
        <script src="templates/topbar.js" defer></script>
        <script src="templates/scripts.js" defer></script>
    </head>
    <body>
        <div id="main">
            <div class="topbar"></div>
            <!-- 
                The "topbar" div above is replaced with the html in the "templates/topbar.js" script
                Refer to "<script src="templates/topbar.js" defer>" in <head> 
            -->