            <div class="topbar">
                <div id="topbar-wrapper">
                    <div class="hamburger" onclick="toggleMobileMenu()">
                        ☰
                    </div>
                    <div class="links">

                        <a href="homepage.html" class="home-link">
                            <div class="home-icon-container">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24" 
                                    height="24"
                                    viewBox="0 0 24 24" 
                                    class="home-icon">
                                    <path
                                        d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"
                                    />
                                </svg>
                            </div>
                        </a>
                        <a href="https://jonescompneurolab.github.io/hnn-core/stable/install.html">
                            Install
                        </a>
                        <a href="https://dylansdaniels.github.io/website_redesign/content/preface.html">
                            Tutorials
                        </a>
                        <a href="https://jonescompneurolab.github.io/hnn-core/stable/index.html">
                            Documentation
                        </a>
                        <a href="contact.html">
                            Contact
                        </a>
                    </div>
                    <!-- Right side of topbar-->
                    <div class="topbar-right">
                        <div class="dropdown">
                            <button class="dropdown-button" id="dropdownButton">
                                <span class="dropdown-text">
                                    <span>
                                        More
                                    </span>
                                    <span class="caret">
                                    </span>
                                </span>
                            </button>
                            <div class="dropdown-content">
                                <a href="developers.html">
                                    Developers
                                </a>
                                <a href="publications.html">
                                    <!-- <span class="external-icon"></span> -->
                                    Publications
                                </a>
                                <a href="https://github.com/jonescompneurolab/hnn-core/discussions/categories/announcements">
                                    <!-- <span class="external-icon"></span> -->
                                    Announcements
                                </a>
                            </div>
                        </div>
                        <div class="social-icons">
                            <a aria-label="GitHub" href="https://github.com/jonescompneurolab/hnn-core" target="_blank">
                                <img alt="GitHub" src="https://raw.githubusercontent.com/jonescompneurolab/jones-website/master/images/frontpage/icons/github.png"/>
                            </a>
                            <a aria-label="BlueSky" href="https://bsky.app/profile/hnnsolver.bsky.social" target="_blank">
                                <img alt="BlueSky" src="https://raw.githubusercontent.com/jonescompneurolab/jones-website/master/images/frontpage/icons/bluesky.png"/>
                            </a>
                            <a aria-label="X" href="https://x.com/HNNsolver/" target="_blank">
                                <img alt="X" src="https://raw.githubusercontent.com/jonescompneurolab/jones-website/master/images/frontpage/icons/twitter_blue.png"/>
                            </a>
                            <a aria-label="LinkedIn" href="https://www.linkedin.com/company/human-neocortical-neurosolver/" target="_blank">
                                <img alt="LinkedIn" src="https://raw.githubusercontent.com/jonescompneurolab/jones-website/master/images/frontpage/icons/linkedin.png"/>
                            </a>
                        </div>
                    </div>
                    <div id="mobile-menu" class="mobile-menu">
                        <div class="links">
                            <a href="homepage.html" class="home-link">
                                Home
                            </a>
                            <a href="https://jonescompneurolab.github.io/hnn-core/stable/install.html">
                                Install
                            </a>
                            <a href="https://dylansdaniels.github.io/website_redesign/content/preface.html">
                                Tutorials
                            </a>
                            <a href="https://jonescompneurolab.github.io/hnn-core/stable/index.html">
                                Documentation
                            </a>
                            <a href="contact.html">
                                Contact
                            </a>
                            <a href="developers.html">
                                Developers
                            </a>
                            <a href="publications.html">
                                Publications
                            </a>
                            <a href="https://github.com/jonescompneurolab/hnn-core/discussions/categories/announcements">
                                Announcements
                            </a>
                        </div>
                    </div>
                </div>
            </div>